<body class="background">
	    <div class="intro-text">
	        <div class="intro-lead-in">Discover your favourite artists!</div>
	        <%= link_to "Sign Up Now!", signup_path, class:'page-scroll btn btn-xl' %>
	    </div>
</body>
